
#buy-now-button img:hover {
	opacity:0.85;
	margin-top:2px;
}

#page-buy-now-button img:hover {
	opacity:0.85;
	margin-top:1px;
}

#header-image {
	background: url('../images/background-header-linen.png') top left repeat-x;
	width:100%;
	height:430px;
	position:absolute;
	top:0px;
	left:0px;
	z-index: -999;
}

#page-header-image {
	background: url('../images/page-top-bar-bg.png') top left repeat-x;
	width:100%;
	height:158px;
	position:absolute;
	z-index: -999;
}

.video-play-button {
	background: url('../images/video-play-button.png') no-repeat;
	display:block;
	position:absolute;
	width:68px;
	height:68px;
	top:13px;
	left:33px;
	z-index:999;
}

.video-play-button:hover {
	margin-top:1px;
}

.screenshot {
	display:block;
	position:relative;
	width:162px;
	height:102px;
	background: url('../images/thumbnail-frame.png') no-repeat;
	text-decoration:none;
}

.screenshot span {
	position:absolute;
	text-align:center;
	top:-29px;
	left:-54px;
	font-size:21px;
	width:240px;
	font-weight: bold;
	text-shadow: 0px 1px white;
	text-decoration:none;
	color:#707379;
}

.screenshot img {
	position:absolute;
	top:9px;
	left:9px;
}

#content h1.entry-title {
	font-size: 50px;
	padding-top:0px;
	margin-top:-20px;
	margin-left:-10px;	
}

#content h2.entry-title {
	font-size: 30px;	
}

#content img.feature-image {
	margin-top:-75px;
	margin-right:-38px;
}

.tap-screenshot-image {
	border: 4px solid #fff;
}

.feature-bullet-item {
	font-family: "Myriad Pro", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	width:316px;
	height:64px;
	margin-bottom:14px;
	float:left;
}

.feature-bullet-thumbnail {
	float:left;
	width:44px;
	height:44px;
	margin-top:8px;
	margin-right:14px;
}

.feature-bullet-title-container {
	float:left;
	margin-top:8px;
}

.feature-bullet-title {
	font-size:28px;
	color:#2a2a2a;
	text-shadow: 0px 1px white;
}

.feature-bullet-subtitle {
	font-size:16px;
	color:#938e74;
	text-shadow: 0px 1px white;
}

.feature-bullet-point {
	font-size: 28px;
	color:#2a2a2a;
	font-family: "Myriad Pro", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-weight:bold;
	background: url('../images/bullet-point-scratch.png') no-repeat;
	padding-left:58px;
	padding-bottom:15px;
	margin-bottom:5px;
	text-shadow: 0px 1px white;
}

.feature-bullet-point-content {
	font-size: 18px;
	color:#454545;
	font-family: "Myriad Pro", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	padding-left:62px;
	padding-top:6px;
	width:350px;
	margin-bottom:35px;
	text-shadow: 0px 1px white;
}

#large-thumb-item {
	width:260px;
	float:left;
	padding-right:45px;
}

#large-thumb-title {
	text-align:center;
	color: #828282;
    font-family: Helvetica,"Nimbus Sans L",sans-serif;
    font-size: 38px;
    line-height: 1.3em;
    margin-bottom: 0;
    text-shadow: 0 1px white;
}

#large-thumb-image {
	background: url('../images/features/large_thumb_bk.png') no-repeat;
	width:281px;
	height:207px;
	position:relative;
	padding-top:11px;
	padding-left:11px;
}

